/vendor/
/node_modules/

/application/cache/*
!/application/cache/index.html

/application/logs/*
!/application/logs/index.html

/uploads/*
!.gitkeep

.env

.idea/
.vscode/

*.log
.DS_Store
Thumbs.db

/writable/
/public/uploads/